ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    justify-content: space-evenly;
    display: flex;

    span{
        text-align: left;
        width: 23%;
    }
}
